/* @import url('https://fontlibrary.org//face/proza-libre');
@import url('https://fontlibrary.org//face/code-new-roman'); */

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.layout-grid{
    min-height: 100vh;
    background-color: tomato;
    display: grid;
    grid-template-columns: 15fr 85fr;
    grid-template-rows: 15fr 85fr;
    grid-template-areas: 
    'side header'
    'side main';
}